# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo


# dotenv environment variable files
.env
.env.*
!.env.example

# Next.js build output
.next
out


# Serverless directories
.serverless/

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# misc
backup
sample.*